@page
@model NerdCore.Models.Usuario
@using System.Security.Claims
@{
    ViewBag.Title = "Login";
}
    <div id="ContentPlaceHolder1_Cover" class="background" style="background-image: url(../img/LoginCover1.jpg)"></div>

<form method="post" class="login-form">
    <h1><img src="~/img/Logo.png" /></h1>
    <div class="txtb">
        @Html.TextBoxFor(a => a.Nick)
        <span data-placeholder="Username"></span>
    </div>

    <div class="txtb">
        @Html.PasswordFor(a => a.Password)
        <span data-placeholder="Password"></span>
    </div>
    <input type="submit" class="logbtn" value="Login">
    
</form>

@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
                     Swal.fire(
                    'Oops!',
                    '@ViewBag.Message',
                    'error'
                )
    </script>
}