@using NerdCore.Models
@using NerdCore.Data
@inject AnimeService objAnime


<div class="uk-section-muted uk-padding">
    <div class="uk-container">
        <h1 class="uk-text-center uk-heading-line uk-padding-small">Elementos en el sistema</h1>

        <!--Elemento para evitar problemas con el counter-->
        <h1 class="count" style="display:none">2222</h1>
        @if (aniObj != null)
        {
            <div class="uk-child-width-1-1 uk-text-center uk-flex-center uk-visible@l" uk-grid>
                <div>
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardAnime.jpg)">
                            <label id="l1" class="card-txt">ANIMES</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Juegos" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardGame.jpg)">
                            <label id="l1" class="card-txt">JUEGOS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Mangas" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardManga.jpg)">
                            <label id="l1" class="card-txt">MANGAS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Series" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardSerie.jpg)">
                            <label id="l1" class="card-txt">SERIES</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Peliculas" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardMovie.jpg)">
                            <label id="l1" class="card-txt">PELICULAS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Libros" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardBook.jpg)">
                            <label id="l1" class="card-txt">LIBROS</label>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    int TAnime = 0;
    int TJuegos = 0;
    int TMangas = 0;
    int TSeries = 0;
    int TPeliculas = 0;
    int TLibros = 0;
    List<VAnime> aniObj;
    protected override async Task OnInitializedAsync()
    {
        aniObj = await Task.Run(() => objAnime.GetAnimes());
        contar();
    }

    private void contar()
    {
        TAnime = aniObj.Count();
    }
}
